body {
    font-family: Arial, Helvetica, sans-serif;
}

.container1 {
    display: grid;
    padding: 10px;
}

#meals {
    grid-column-start: 1;
    grid-column-end: 2;
}

#groceries {
    grid-column-start: 2;
    grid-column-end: 3;
}

h1 {
    margin: 10px;
}

/* =============================== */

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: white;
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n){
    background-color: #f7f7f7
}

li:hover span {
    width: 40px;
    opacity: 1;
}

input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0, 0, 0, 0);
    
}

input:focus{
    background-color: white;
    border: 3px solid #2980b9;
    outline: none;

}

span{
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.fa-plus{
    float: right;
}

.container2 {
    margin: 10px;
    background-color: #acacac;
}