body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ffffff;
	height: 100%;
	max-width: 100%;
	overflow: hidden;
	/* background-color: rgb(230, 223, 211); */
}

p {
	display: inline;
}

.container1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1500px;
	margin: auto;
}

.container2 {
	margin: 5px;
	border: 1px solid grey;
	border-radius: 20px;
	padding: 10px;
	flex: 1;
	max-width: 750px;
	min-width: 280px;
	height: 100%;
}

#meals {
	background-color: rgba(228, 146, 146, 1);
	grid-column-start: 1;
	grid-column-end: 2;
}

#groceries {
	background-color: rgb(170, 193, 170, 1);
	grid-column-start: 2;
	grid-column-end: 3;
}

h1 {
	display: inline;
	margin: 5px;
	font-family: 'Permanent Marker', cursive;
	color: rgb(39, 39, 39);
}

input {
	margin: 5px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid grey;
	width: 50%;
	font-family: 'Montserrat', sans-serif;
}

input:focus {
	outline: none;
	border: 1px solid rgb(49, 49, 49);
	box-shadow: inset 1px 1px 4px #888888;
}

i {
	margin-right: 10px;
	color: rgb(82, 82, 82);
}

ul {
	list-style-type: none;
	padding-left: 20px;
}

.mealList {
	margin: 0px 20px 20px 5px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 20px;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	box-shadow: inset 2px 2px 5px #00000075;
}

.groceryList {
	margin: 0px 20px 20px 5px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 20px;
	padding: 10px;
	box-shadow: inset 2px 2px 5px #00000075;
}

ul.mealList > li {
	border: 1px solid grey;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	box-shadow: 2px 2px 5px #00000075;
}

ul.mealItems {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 60px;
}

#buttonListContainer {
	flex-grow: 3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
}

.buttonOptions {
	display: block;
	margin: 5px;
	width: 74px;
	border: 1px solid grey;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #00000075;
}

.listName {
	text-align: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

button {
	display: block;
	font-family: 'Montserrat', sans-serif;
	margin: auto;
	background-color: transparent;
	border: none;
	text-align: center;
}

.sidebar-right {
	float: right;
	height: 100vh;
	position: absolute;
	right: -70px;
	height: 100%;
	width: 150px;
	transition: .5s;
}

.sidebar-right:hover {
	right: 0px;
}

.flex-container {
	display: flex;
	flex-flow: column nowrap;
	width: 100px;
	float: right;
}

.container {
	flex: 1 0 auto;
	display: flex;
	margin-bottom: 10px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#listButton {
	background-color: tomato;
	color: white;
	font-weight: 500;
	margin-bottom: -5px;
}

/* ==========================
==========================
========================== */

/* .completed {
    text-decoration: line-through;
} */

/* .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */

/* Dropdown button on hover & focus
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */

/* The container <div> - needed to position the dropdown content
  .dropdown {
    position: relative;
    display: inline-block;
  } */

/* Dropdown Content (Hidden by Default)
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */

/* Links inside the dropdown
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } */

/* Change color of dropdown links on hover
  .dropdown-content a:hover {background-color: #ddd} */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button)
  .show {display:block;} */
